p
{background-color:pink;
text-transform:uppercase;
font-size:30px;
}
h2
{
	color:red;
	font-size:50px;
}
body
		{
			background-image: url(file:///D:\19761A0578\WTLAB\WEEK1);
			background-color: #ccccdd;
		}